body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#accordion {
	list-style: none;
    width: 80vw;
    margin-left: 100px;
}
#accordion div {
	display: block;
	background-color: #000000;
	font-weight: bold;
	margin: 1px;
	cursor: pointer;
	padding: 20px;
	list-style: circle;
	border-radius: 10px;
    color: white;
}
#accordion ul {
	list-style: none;
	padding: 0 0 0 0;
}
#accordion ul{
	display: none;
}
#accordion ul li {
	font-weight: normal;
	cursor: auto;
	background-color: rgb(228, 161, 18);
	padding: 7px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
#accordion a {
	text-decoration: none;
}
#accordion a:hover {
	text-decoration: underline;
}